.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu,
.Login,
.Container,
.Footer{
  border: 4px solid blue;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.Menu a{
  border: 2px solid green;
  padding: 4px;
  margin: 5px;
  text-decoration: none;
}
.Login{
  border-color: gray;
  width: 25%;
  margin: auto;
  /* margin: auto; */
}

.Login input{
  padding: 5px;
  margin: auto;
  margin-top: 1%;
  border-radius: 10px;
  border: 2px solid cyan;
  display: block;
}

.Footer a{
  display: block;
  text-decoration: none;
}

.hobby{
  border: 4px solid pink;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.hobby input{
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid black;
  display: block;
}

.add{
  border: 4px solid cyan;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.add input{
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid black;
  display: block;
}

.degree{
  border: 4px solid yellowgreen;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.degree input{
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid black;
  display: block;
}

.obj{
  border: 4px solid yellow;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  width: 50%;
  margin-top: 13%;
  background-color: antiquewhite;
}

.obj input{
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid black;
  display: block;
}

.App{
  border: 4px solid yellowgreen;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  height: 100%;
}

.obj button{
  padding: 5px;
  margin: auto;
  border: 1.5px solid black;
  margin-bottom: 1%;

}

.App a{
  margin: 5px;
  border: 2px solid black;
  padding: 4px;
  text-decoration: none;
}

.fake{
  text-align: justify;
  background-color: beige;
  border: 5px solid burlywood;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.fake h1{
  margin: auto;
}

.fake img{
  width: 10%;
  height: 10%;
}